# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
aiohttp=3.9.5=pypi_0
aiosignal=1.3.1=pypi_0
alembic=1.13.1=pypi_0
annotated-types=0.6.0=pypi_0
anyio=4.3.0=pypi_0
appdirs=1.4.4=pypi_0
apscheduler=3.10.4=pypi_0
archspec=0.2.1=pyhd3eb1b0_0
argcomplete=3.3.0=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
asgiref=3.8.1=pypi_0
attrs=23.2.0=pypi_0
av=11.0.0=pypi_0
backoff=2.2.1=pypi_0
bcrypt=4.1.2=pypi_0
beautifulsoup4=4.12.3=pypi_0
bidict=0.23.1=pypi_0
black=24.4.2=pypi_0
blinker=1.8.2=pypi_0
boltons=23.0.0=py312h06a4308_0
boto3=1.34.95=pypi_0
botocore=1.34.103=pypi_0
brotli-python=1.0.9=py312h6a678d5_7
build=1.2.1=pypi_0
bzip2=1.0.8=h7b6447c_0
c-ares=1.19.1=h5eee18b_0
ca-certificates=2023.12.12=h06a4308_0
cachecontrol=0.14.0=pypi_0
cachetools=5.3.3=pypi_0
catkin-pkg=1.0.0=pypi_0
certifi=2024.2.2=py312h06a4308_0
cffi=1.16.0=py312h5eee18b_0
chardet=5.2.0=pypi_0
charset-normalizer=3.3.2=pypi_0
chroma-hnswlib=0.7.3=pypi_0
chromadb=0.5.0=pypi_0
chromaviz=0.0.6=pypi_0
cleo=2.1.0=pypi_0
click=8.1.7=pypi_0
cohere=5.5.1=pypi_0
colcon-argcomplete=0.3.3=pypi_0
colcon-bash=0.5.0=pypi_0
colcon-cd=0.1.1=pypi_0
colcon-cmake=0.2.28=pypi_0
colcon-common-extensions=0.3.0=pypi_0
colcon-core=0.16.1=pypi_0
colcon-defaults=0.2.8=pypi_0
colcon-devtools=0.3.0=pypi_0
colcon-library-path=0.2.1=pypi_0
colcon-metadata=0.2.5=pypi_0
colcon-notification=0.3.0=pypi_0
colcon-output=0.2.13=pypi_0
colcon-package-information=0.4.0=pypi_0
colcon-package-selection=0.2.10=pypi_0
colcon-parallel-executor=0.3.0=pypi_0
colcon-pkg-config=0.1.0=pypi_0
colcon-powershell=0.4.0=pypi_0
colcon-python-setup-py=0.2.8=pypi_0
colcon-recursive-crawl=0.2.3=pypi_0
colcon-ros=0.4.1=pypi_0
colcon-test-result=0.3.8=pypi_0
colcon-zsh=0.5.0=pypi_0
coloredlogs=15.0.1=pypi_0
conda=24.1.2=py312h06a4308_0
conda-content-trust=0.2.0=py312h06a4308_0
conda-libmamba-solver=23.12.0=pyhd3eb1b0_1
conda-package-handling=2.2.0=py312h06a4308_0
conda-package-streaming=0.9.0=py312h06a4308_0
coverage=7.5.1=pypi_0
crashtest=0.4.1=pypi_0
crewai=0.30.11=pypi_0
cryptography=42.0.7=pypi_0
ctranslate2=4.2.1=pypi_0
dataclasses-json=0.6.6=pypi_0
deepdiff=7.0.1=pypi_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.14=pypi_0
distlib=0.3.8=pypi_0
distro=1.8.0=py312h06a4308_0
dnspython=2.6.1=pypi_0
docstring-parser=0.15=pypi_0
docutils=0.21.2=pypi_0
docx2txt=0.8=pypi_0
dulwich=0.21.7=pypi_0
ecdsa=0.19.0=pypi_0
email-validator=2.1.1=pypi_0
embedchain=0.1.104=pypi_0
emoji=2.11.1=pypi_0
empy=3.3.4=pypi_0
et-xmlfile=1.1.0=pypi_0
expat=2.5.0=h6a678d5_0
fake-useragent=1.5.1=pypi_0
fastapi=0.109.2=pypi_0
fastapi-sso=0.10.0=pypi_0
fastavro=1.9.4=pypi_0
faster-whisper=1.0.1=pypi_0
fastjsonschema=2.19.1=pypi_0
filelock=3.13.4=pypi_0
filetype=1.2.0=pypi_0
flask=3.0.3=pypi_0
flask-cors=4.0.0=pypi_0
flatbuffers=24.3.25=pypi_0
fmt=9.1.0=hdb19cb5_0
fonttools=4.51.0=pypi_0
fpdf2=2.7.8=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.3.1=pypi_0
google-ai-generativelanguage=0.6.2=pypi_0
google-api-core=2.19.0=pypi_0
google-api-python-client=2.129.0=pypi_0
google-auth=2.29.0=pypi_0
google-auth-httplib2=0.2.0=pypi_0
google-cloud-aiplatform=1.52.0=pypi_0
google-cloud-bigquery=3.23.1=pypi_0
google-cloud-core=2.4.1=pypi_0
google-cloud-resource-manager=1.12.3=pypi_0
google-cloud-storage=2.16.0=pypi_0
google-crc32c=1.5.0=pypi_0
google-generativeai=0.5.2=pypi_0
google-resumable-media=2.7.0=pypi_0
googleapis-common-protos=1.63.0=pypi_0
gptcache=0.1.43=pypi_0
greenlet=3.0.3=pypi_0
grpc-google-iam-v1=0.13.0=pypi_0
grpcio=1.63.0=pypi_0
grpcio-status=1.62.2=pypi_0
gunicorn=21.2.0=pypi_0
h11=0.14.0=pypi_0
httpcore=1.0.5=pypi_0
httplib2=0.22.0=pypi_0
httptools=0.6.1=pypi_0
httpx=0.27.0=pypi_0
httpx-sse=0.4.0=pypi_0
huggingface-hub=0.23.1=pypi_0
humanfriendly=10.0=pypi_0
icu=73.1=h6a678d5_0
idna=3.7=pypi_0
importlib-metadata=7.0.0=pypi_0
importlib-resources=6.4.0=pypi_0
iniconfig=2.0.0=pypi_0
inquirerpy=0.3.4=pypi_0
installer=0.7.0=pypi_0
instructor=0.5.2=pypi_0
itsdangerous=2.2.0=pypi_0
jaraco-classes=3.4.0=pypi_0
jeepney=0.8.0=pypi_0
jinja2=3.1.4=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.2=pypi_0
jsonpatch=1.33=pypi_0
jsonpath-python=1.0.6=pypi_0
jsonpointer=2.1=pyhd3eb1b0_0
keyring=24.3.1=pypi_0
krb5=1.20.1=h143b758_1
kubernetes=29.0.0=pypi_0
langchain=0.1.16=pypi_0
langchain-chroma=0.1.0=pypi_0
langchain-cohere=0.1.5=pypi_0
langchain-community=0.0.34=pypi_0
langchain-core=0.1.52=pypi_0
langchain-openai=0.1.7=pypi_0
langchain-text-splitters=0.0.1=pypi_0
langdetect=1.0.9=pypi_0
langfuse=2.27.3=pypi_0
langsmith=0.1.56=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libarchive=3.6.2=h6ac8c49_2
libcurl=8.5.0=h251f7ec_0
libedit=3.1.20230828=h5eee18b_0
libev=4.33=h7f8727e_1
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libmamba=1.5.3=haf1ee3a_0
libmambapy=1.5.3=py312h2dafd23_0
libnghttp2=1.57.0=h2d74bed_0
libsolv=0.7.24=he621ea3_0
libssh2=1.10.0=hdbd6064_2
libstdcxx-ng=11.2.0=h1234567_1
libuuid=1.41.5=h5eee18b_0
libxml2=2.10.4=hf1b16e4_1
litellm=1.35.28=pypi_0
lxml=5.2.1=pypi_0
lz4-c=1.9.4=h6a678d5_0
mako=1.3.5=pypi_0
markdown=3.6=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
marshmallow=3.21.2=pypi_0
mdurl=0.1.2=pypi_0
menuinst=2.0.2=py312h06a4308_0
mmh3=4.1.0=pypi_0
monotonic=1.6=pypi_0
more-itertools=10.2.0=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.8=pypi_0
multidict=6.0.5=pypi_0
mypy-extensions=1.0.0=pypi_0
ncurses=6.4=h6a678d5_0
networkx=3.3=pypi_0
nltk=3.8.1=pypi_0
notify2=0.3.1=pypi_0
numpy=1.26.4=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu12=8.9.2.26=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-nccl-cu12=2.20.5=pypi_0
nvidia-nvjitlink-cu12=12.4.127=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
oauthlib=3.2.2=pypi_0
onnxruntime=1.17.3=pypi_0
openai=1.28.1=pypi_0
opencv-python=4.9.0.80=pypi_0
opencv-python-headless=4.9.0.80=pypi_0
openpyxl=3.1.2=pypi_0
openssl=3.0.13=h7f8727e_0
opentelemetry-api=1.24.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.24.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.24.0=pypi_0
opentelemetry-exporter-otlp-proto-http=1.24.0=pypi_0
opentelemetry-instrumentation=0.45b0=pypi_0
opentelemetry-instrumentation-asgi=0.45b0=pypi_0
opentelemetry-instrumentation-fastapi=0.45b0=pypi_0
opentelemetry-proto=1.24.0=pypi_0
opentelemetry-sdk=1.24.0=pypi_0
opentelemetry-semantic-conventions=0.45b0=pypi_0
opentelemetry-util-http=0.45b0=pypi_0
ordered-set=4.1.0=pypi_0
orjson=3.10.3=pypi_0
overrides=7.7.0=pypi_0
packaging=23.2=pypi_0
pandas=2.2.2=pypi_0
passlib=1.7.4=pypi_0
pathspec=0.12.1=pypi_0
pcre2=10.42=hebb0a14_0
peewee=3.17.3=pypi_0
peewee-migrate=1.12.2=pypi_0
pexpect=4.9.0=pypi_0
pfzy=0.3.4=pypi_0
pillow=10.3.0=pypi_0
pip=23.3.1=py312h06a4308_0
pkginfo=1.10.0=pypi_0
platformdirs=3.10.0=py312h06a4308_0
pluggy=1.5.0=pypi_0
poetry=1.8.3=pypi_0
poetry-core=1.9.0=pypi_0
poetry-plugin-export=1.8.0=pypi_0
posthog=3.5.0=pypi_0
prompt-toolkit=3.0.43=pypi_0
proto-plus=1.23.0=pypi_0
protobuf=4.25.3=pypi_0
psycopg2-binary=2.9.9=pypi_0
ptyprocess=0.7.0=pypi_0
pulsar-client=3.5.0=pypi_0
pyasn1=0.6.0=pypi_0
pyasn1-modules=0.4.0=pypi_0
pybind11-abi=4=hd3eb1b0_1
pyclipper=1.3.0.post5=pypi_0
pycosat=0.6.6=py312h5eee18b_0
pycparser=2.21=pyhd3eb1b0_0
pydantic=2.7.1=pypi_0
pydantic-core=2.18.2=pypi_0
pygments=2.18.0=pypi_0
pyjwt=2.8.0=pypi_0
pymysql=1.1.0=pypi_0
pypandoc=1.13=pypi_0
pyparsing=3.1.2=pypi_0
pypdf=4.2.0=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.1.0=pypi_0
pysbd=0.3.4=pypi_0
pysocks=1.7.1=py312h06a4308_0
pytest=8.2.0=pypi_0
pytest-cov=5.0.0=pypi_0
pytest-repeat=0.9.3=pypi_0
pytest-rerunfailures=14.0=pypi_0
python=3.12.1=h996f2a0_0
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.0.1=pypi_0
python-engineio=4.9.0=pypi_0
python-iso639=2024.4.27=pypi_0
python-jose=3.3.0=pypi_0
python-magic=0.4.27=pypi_0
python-multipart=0.0.9=pypi_0
python-socketio=5.11.2=pypi_0
pytube=15.0.0=pypi_0
pytz=2024.1=pypi_0
pyxlsb=1.0.10=pypi_0
pyyaml=6.0.1=pypi_0
rank-bm25=0.2.2=pypi_0
rapidfuzz=3.9.0=pypi_0
rapidocr-onnxruntime=1.2.3=pypi_0
readline=8.2=h5eee18b_0
redis=5.0.4=pypi_0
regex=2023.12.25=pypi_0
reproc=14.2.4=h295c915_1
reproc-cpp=14.2.4=h295c915_1
requests=2.31.0=py312h06a4308_1
requests-oauthlib=2.0.0=pypi_0
requests-toolbelt=1.0.0=pypi_0
rich=13.7.1=pypi_0
rq=1.16.2=pypi_0
rsa=4.9=pypi_0
ruamel.yaml=0.17.21=py312h5eee18b_0
s3transfer=0.10.1=pypi_0
safetensors=0.4.3=pypi_0
schema=0.7.7=pypi_0
scikit-learn=1.4.2=pypi_0
scipy=1.13.0=pypi_0
sec-api=1.0.18=pypi_0
secretstorage=3.3.3=pypi_0
sentence-transformers=2.7.0=pypi_0
setuptools=68.2.2=pypi_0
shapely=2.0.4=pypi_0
shellingham=1.5.4=pypi_0
simple-websocket=1.0.0=pypi_0
six=1.16.0=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=2.0.30=pypi_0
sqlite=3.41.2=h5eee18b_0
starlette=0.36.3=pypi_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tenacity=8.3.0=pypi_0
threadpoolctl=3.5.0=pypi_0
tiktoken=0.7.0=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.19.1=pypi_0
tomlkit=0.12.5=pypi_0
torch=2.3.0=pypi_0
tqdm=4.65.0=py312he106c6f_0
transformers=4.41.1=pypi_0
trove-classifiers=2024.5.22=pypi_0
truststore=0.8.0=py312h06a4308_0
typer=0.9.4=pypi_0
types-requests=2.32.0.20240521=pypi_0
typing-extensions=4.11.0=pypi_0
typing-inspect=0.9.0=pypi_0
tzdata=2024.1=pypi_0
tzlocal=5.2=pypi_0
unstructured=0.11.8=pypi_0
unstructured-client=0.22.0=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=2.1.0=py312h06a4308_1
uvicorn=0.22.0=pypi_0
uvloop=0.19.0=pypi_0
validators=0.28.1=pypi_0
virtualenv=20.26.2=pypi_0
watchfiles=0.21.0=pypi_0
wcwidth=0.2.13=pypi_0
websocket-client=1.8.0=pypi_0
websockets=12.0=pypi_0
werkzeug=3.0.3=pypi_0
wheel=0.41.2=py312h06a4308_0
wrapt=1.16.0=pypi_0
wsproto=1.2.0=pypi_0
xlrd=2.0.1=pypi_0
xz=5.4.5=h5eee18b_0
yaml-cpp=0.8.0=h6a678d5_0
yarl=1.9.4=pypi_0
youtube-transcript-api=0.6.2=pypi_0
zipp=3.18.1=pypi_0
zlib=1.2.13=h5eee18b_0
zstandard=0.19.0=py312h5eee18b_0
zstd=1.5.5=hc292b87_0
