<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dropbear_simplified">

<xacro:macro name = "leg_ros2_control" params = "prefix">
    <xacro:joint prefix="${prefix}" name="hip_joint" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="knee_actuator_joint" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <!-- <xacro:joint prefix="${prefix}" name="Revolute28" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute29" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute33" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute34" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute37" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute38" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute46" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute47" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute48" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute49" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint> 

    <xacro:joint prefix="${prefix}" name="Revolute57" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint> -->
    <xacro:joint prefix="${prefix}" name="Revolute67" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute81" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <!-- <xacro:joint prefix="${prefix}" name="Revolute87" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint> -->

    <xacro:joint prefix="${prefix}" name="Revolute88" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <!-- <xacro:joint prefix="${prefix}" name="Revolute89" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint> -->

    <!-- <xacro:joint prefix="${prefix}" name="Revolute111" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute112" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint> -->

</xacro:macro>

</robot>