<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dropbear_simplified">

<xacro:macro name = "stewart_platform_ros2_control" params = "prefix">

    <!-- <xacro:joint prefix="${prefix}" name="Revolute25" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute26" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute27" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute34" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute36" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute37" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute38" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute44" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute45" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute46" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute47" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute48" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute54" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute55" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute56" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute57" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute58" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute64" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute65" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute66" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute67" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute68" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute74" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute75" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute76" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute77" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute78" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute84" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute85" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>  -->

    <xacro:joint prefix="${prefix}" name="Slider30" min_value="-0.075" max_value="0.0">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Slider40" min_value="-0.075" max_value="0.0">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Slider50" min_value="-0.075" max_value="0.0">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Slider60" min_value="-0.075" max_value="0.0">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Slider70" min_value="-0.075" max_value="0.0">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Slider80" min_value="-0.075" max_value="0.0">
    </xacro:joint>

</xacro:macro>

</robot>