<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pelvicgirdle_ros2_control_xacro">

<xacro:macro name = "pelvicgirdle_ros2_control" params="prefix">
    <xacro:joint prefix="${prefix}" name="right_leg_pitch" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="left_leg_pitch" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="right_leg_roll" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="left_leg_roll" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <!-- <xacro:joint prefix="${prefix}" name="Revolute31" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute32" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute33" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="Revolute34" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint> -->

</xacro:macro>

</robot>
