<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dropbear_simplified">

<xacro:macro name = "waist_ros2_control" params = "prefix">
    <xacro:joint prefix="${prefix}" name="right_leg_pitch" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="left_leg_pitch" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="right_leg_yaw" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

    <xacro:joint prefix="${prefix}" name="left_leg_yaw" min_value="-${PI}" max_value="-${PI}">
    </xacro:joint>

</xacro:macro>

</robot>